.app {
  position: absolute;
  width: 550px;
  height: 868px;
  left: 65px;
  background-color: #23252C;
  margin-left: 30%;
}


.app-container {
  width: 317px;
  height: 780px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 317px 399px 64px;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  margin-top: 43px;
  margin-left: 115px;
}